<a class="cardContainer" href="/bicycle/{{_id}}">
    <div class="cardImgContainer">
        <img class="cardImg" src="/images/{{name}}.jpg" alt="{{name}}">
    </div>
    <p class="cardName">{{name}}</p>
</a>
