<!doctype html>
<html lang="en">
{{>head }}
<body>
{{>navbar }}
<div class="root">
    <div class="actionNameContainer">
        <p class="actionName">{{actionName}}</p>
    </div>
    {{{ body }}}
</div>
{{>footer}}
</body>
</html>
